@use '../../../styles/variable';

.history__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin: 0 0 10px 0;
  padding: 0 0.8rem;
  background: variable.$color__light;
  border: 2px solid variable.$color__dark--100;
  border-radius: variable.$dimen__board--radius;
  outline: none;
  font-size: 1rem;
  font-weight: normal;
  color: variable.$color__dark--600;
  transition: all 0.2s ease-in-out;
  transition-property: background-color, border-color, color;
  cursor: pointer;

  & > i {
    font-size: 1.8rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    background-color: variable.$color__primary--100;
    border-color: variable.$color__primary;
    color: variable.$color__primary;

    & > i {
      opacity: 1;
    }
  }
}
