$color__dark: #000000;
$color__dark--100: rgba($color__dark, 0.1);
$color__dark--200: rgba($color__dark, 0.2);
$color__dark--300: rgba($color__dark, 0.3);
$color__dark--400: rgba($color__dark, 0.4);
$color__dark--500: rgba($color__dark, 0.5);
$color__dark--600: rgba($color__dark, 0.6);
$color__dark--700: rgba($color__dark, 0.7);
$color__dark--800: rgba($color__dark, 0.8);
$color__dark--900: rgba($color__dark, 0.9);

$color__light: #ffffff;
$color__light--100: rgba($color__light, 0.1);
$color__light--200: rgba($color__light, 0.2);
$color__light--300: rgba($color__light, 0.3);
$color__light--400: rgba($color__light, 0.4);
$color__light--500: rgba($color__light, 0.5);
$color__light--600: rgba($color__light, 0.6);
$color__light--700: rgba($color__light, 0.7);
$color__light--800: rgba($color__light, 0.8);
$color__light--900: rgba($color__light, 0.9);

$color__primary: #0000ff;
$color__primary--100: rgba($color__primary, 0.1);
$color__primary--200: rgba($color__primary, 0.2);
$color__primary--300: rgba($color__primary, 0.3);
$color__primary--400: rgba($color__primary, 0.4);
$color__primary--500: rgba($color__primary, 0.5);
$color__primary--600: rgba($color__primary, 0.6);
$color__primary--700: rgba($color__primary, 0.7);
$color__primary--800: rgba($color__primary, 0.8);
$color__primary--900: rgba($color__primary, 0.9);
