$dimen__board--cols: 3;
$dimen__board--rows: 3;
$dimen__board--size: 80px;
$dimen__board--gap: 10px;
$dimen__board--radius: $dimen__board--size / 10;
$dimen__board--icon-x: 3rem;
$dimen__board--icon-o: 2.5rem;
